@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

$primary-color: #2b8fba;
$primary-accent-color: #81cdee;
$secondary-color: #b4539a;
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

*,
html,
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

.navbar {
  .navbar-brand {
    &:hover {
      filter: brightness(1.1);
      -webkit-filter: brightness(1.1);
    }
  }
  .navbar-nav {
    .nav-link {
      text-shadow: $text-shadow;

      &.active {
        color: $primary-color;
        position: relative;

        &:hover {
          filter: brightness(1.1);
          -webkit-filter: brightness(1.1);
        }

        &::after {
          content: "";
          bottom: 6px;
          left: 50%;
          transform: translate(-50%);
          position: absolute;
          background-color: $secondary-color;
          height: 3px;
          width: calc(100% / 2.5);
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
          -webkit-transform: translate(-50%);
          -moz-transform: translate(-50%);
          -ms-transform: translate(-50%);
          -o-transform: translate(-50%);
        }
      }

      &:hover {
        color: $primary-color;
      }
    }
  }
}

#Hero {
  background-image: url("../images/Process_Laminasi 8RP_8RP_DSCF0070.JPG");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  .hero-text {
    text-shadow: $text-shadow;
  }
  button {
    font-weight: 500;
    bottom: 10px;
    background-color: $primary-color !important;
    &:hover {
      background-color: $primary-accent-color !important;
      border: none;
    }
  }
}
